/tallerSRP2/target/
/tallerOCP/target/
/TallerOCP2/target/
/TallerLSP/nbproject/private/
/TallerLSP/build/
/Taller-6.1/nbproject/private/
/TallerISP1/nbproject/private/
/TallerISP2/Taller-6.1/nbproject/private/
/TallerIDP/nbproject/private/
/TallerIDP/build/
/TallerISP1/build/
/TallerISP2/build/
/TallerDIP2/nbproject/private/
/TallerDIP3/nbproject/private/
